{# dans le futur, il faudra executer ce code que si l'utilisateur est connecté: #}
<p>Il y a {{ nbArticles }}  articles dans votre panier </p>
<menu>
    <li><a href="{{ path("accueil") }}">Accueil</a></li>
    <li>Produits</li>
    <li>Connexion</li>
</menu>