{# dans le futur, il faudra executer ce code que si l'utilisateur est connecté: #}
{% if user is not null %}
<p>Il y a
    {% if user.ShoppingCart is not null %}
    {{ user.ShoppingCart.ShoppingCartProducts is not null ? user.ShoppingCart.ShoppingCartProducts | length : 0 }}
    {% else %}
    0
    {% endif %}
    articles dans votre panier</p>
{% endif %}
<menu>
    <li><a href="{{ path("accueil") }}">Accueil</a></li>
    {% if user is null %}
    <li><a href="{{ path('app_login') }}">Connexion</a></li>
    <li>Créer un compte</li>
    {% else %}
        <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
        <li>Mon compte</li>
        <li>Produits</li>
    {% endif %}
</menu>