{# template de niveau 2 #}
{% extends 'Layouts/base.html.twig' %}
{% block title %}Site de Vente{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" type="text/css" title="level1" href="{{ asset('css/vente.css') }}" />
{% endblock %}
{% block body %}
    <div id="header">
        {% include 'Layouts/header.html.twig' %}
    </div>
    <div id="flash">
        {% include 'Layouts/flash.html.twig' %}
    </div>
    <div id ="menu">
        {{ render(controller('App\\Controller\\AccueilController::menuAction')) }}
    </div>
    <div id="titre">
        <h1>{% block titre %}{% endblock %}</h1>
    </div>
    <div id="vue">
        {% block vue%}{% endblock%}
    </div>
    <div id="footer">{% include 'Layouts/footer.html.twig' %}</div>
{% endblock %}